.expense-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 300px;
}

.delete-button {
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
  float: right;
}

.container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  flex: 0;
  margin-right: 6rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.expenses-container {
  flex: 3;
}

header {
  padding: 10px;
  background-color: lightskyblue;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #333;
}

header label {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.button {
  padding: 10px;
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
